# Auto detect text files and perform LF normalization
* text=auto
public class App {
    public static void main(String[] args) throws Exception {

        // ikä-harjoitusohjelma
        // if lauseen sisällä toinen if ennen else if ja else

        int ika = 100;

        if (ika > 0 && ika < 18) {
            System.out.println("Olet alaikäinen");
            if (ika >= 15) {
                System.out.println("Saat ajaa mopoa");
            }
        } else if (ika >= 65) {
            System.out.println("Olet eläkeläinen");
        } else {
            System.out.println("Olet aikuinen");
        }